<!DOCTYPE html>
<html th:fragment="layout(content)" lang="en"
      xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
    th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-danger text-white p-3">
    <a href="/" class="navbar-brand">Spring Security</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a th:href="@{/customers}" class="nav-link">Customers</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/employees}" class="nav-link">Employees</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/departments}" class="nav-link">Department</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a th:href="@{/login}" class="nav-link">Login</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a th:href="@{/register}" class="nav-link">Register</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a href="javascript: document.logoutForm.submit()" class="nav-link">
                    Logout</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" hidden>
                    <input type="submit" value="Logout" hidden>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div th:replace="${content}"></div>



</body>
</html>